---
image: "alpine:latest"
.only-default: &only-default
  only:
    - master
    - wip
    - merge_requests

mr-settings:
  only:
    - merge_requests
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.com/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

ruff:
  <<: *only-default
  image: "alpine:edge"
  before_script:
  - "echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories"
  - "adduser -D build"
  script:
  - ".ci/ruff.sh"

vermin:
  <<: *only-default
  before_script:
  - "adduser -D build"
  script:
  - ".ci/vermin.sh"

pytest:
  <<: *only-default
  image: "alpine:3.18"  # has sqlalchemy<2.0
  before_script:
  - wget "https://gitlab.com/postmarketOS/ci-common/-/raw/master/install_pmbootstrap.sh"
  - PMBOOTSTRAP_TAG=master sh ./install_pmbootstrap.sh
  - ln -s /tmp/pmbootstrap ../pmbootstrap
  script:
  - .ci/pytest.sh
  artifacts:
    when: "on_failure"  # reports artifacts are always uploaded
    paths:
    - "coverage.xml"
    - "_html_out/index.html"
    - "_temp/local_job/task_*.sh"
    - "_temp/local_job_logs/*.txt"
    - "pytest.log"
    reports:
      coverage_report:
        coverage_format: "cobertura"
        path: "coverage.xml"
    expire_in: "1 week"
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'

pytest-pmb-v2:
  <<: *only-default
  image: "alpine:3.18"  # has sqlalchemy<2.0
  before_script:
  - wget "https://gitlab.com/postmarketOS/ci-common/-/raw/master/install_pmbootstrap.sh"
  - PMBOOTSTRAP_TAG=2.3.x sh ./install_pmbootstrap.sh
  - ln -s /tmp/pmbootstrap ../pmbootstrap_v2
  script:
  - .ci/pytest-pmb-v2.sh
  artifacts:
    when: "on_failure"  # reports artifacts are always uploaded
    paths:
    - "coverage.xml"
    - "_html_out/index.html"
    - "_temp/local_job/task_*.sh"
    - "_temp/local_job_logs/*.txt"
    - "pytest.log"
    reports:
      coverage_report:
        coverage_format: "cobertura"
        path: "coverage.xml"
    expire_in: "1 week"
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
