---
image: "alpine:latest"

stages:
  - test
  - deploy

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH

mr-settings:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - apk -q add python3
  script:
    - wget -q "https://gitlab.postmarketos.org/postmarketOS/ci-common/-/raw/master/check_mr_settings.py"
    - python3 ./check_mr_settings.py

ruff:
  stage: test
  image: "alpine:edge"
  before_script:
    - "echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories"
    - "adduser -D build"
  script:
    - ".ci/ruff.sh"

vermin:
  stage: test
  before_script:
    - "adduser -D build"
  script:
    - ".ci/vermin.sh"

docs:
  stage: test
  before_script:
    - "adduser -D build"
  script:
    - ".ci/docs.sh"
  artifacts:
    paths:
      - public

deploy-docs:
  stage: deploy
  trigger:
    project: postmarketOS/docs.postmarketos.org
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PROJECT_NAMESPACE == "postmarketOS"
      changes:
        - docs/**/*

pytest:
  stage: test
  image: "alpine:3.18"  # has sqlalchemy<2.0
  before_script:
    - wget "https://gitlab.postmarketos.org/postmarketOS/ci-common/-/raw/master/install_pmbootstrap.sh"
    - PMBOOTSTRAP_TAG=master sh ./install_pmbootstrap.sh
    - ln -s /tmp/pmbootstrap ../pmbootstrap
  script:
    - .ci/pytest.sh
  artifacts:
    when: "on_failure"  # reports artifacts are always uploaded
    paths:
      - "coverage.xml"
      - "_html_out/index.html"
      - "_temp/local_job/task_*.sh"
      - "_temp/local_job_logs/*.txt"
      - "pytest.log"
    reports:
      coverage_report:
        coverage_format: "cobertura"
        path: "coverage.xml"
    expire_in: "1 week"
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
